{% extends 'starter-page.html' %}
<link rel="stylesheet" href="https://icons.getbootstrap.com/#icons">
{% load static %}
{% block content %}

    <h1 class="text-center">All Appointments</h1>
    <div class="d-flex flex-wrap gap-lg-4 container">
    {% for x in all %}

	<div class="card w-25 p-5 shadow-lg">
            <p class="text-warning fw-bold">{{x.name }}</p>
        <p><strong>message:</strong>{{ x.message }}</p>
        <p><strong>Date:</strong>{{ x.date }}</p>
        <p><strong>Phone:</strong>{{ x.Phone }}</p>
        <p><strong>Doctor:</strong>{{ x.doctor }}</p>
        <p><strong>Department:</strong>{{ x.department }}</p>




        <p>
            <a href="{% url 'edit' x.id %}">
                 <i class="bi bi-pencil me-5 text-secondary ">edit</i>
            </a>


                 <a href="{% url 'pay' %}" class="text-success">
                    <i class="bi bi-credit-card"></i>Pay
                </a>



        </p>





     </div>











{% endfor %}

    </div>




{% endblock %}